langchain==0.2.1
fastapi==0.111.0
uvicorn==0.29.0
arxiv==2.1.0
beautifulsoup4==4.12.3
langchain-community==0.2.1
chardet==5.2.0
brotli==1.1.0
scipy==1.13.1
spaCy==3.7.5
datasketch==1.6.5
pypdf==4.2.0
dashscope==1.19.2
