chardet==5.2.0
pypdf==4.2.0
chromadb==0.5.3
xinference-client==0.13.0
transformers==4.42.3
chardet==5.2.0
sentence-transformers==3.0.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
gradio==4.37.2